---
layout: page
title: News
permalink: /news/
sponsors: true
---

{% for post in site.posts %}
<div class="post-preview">
    <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title" style="padding-top: 0">{{ post.title | remove: "<br>" }}</h2>
    </a>
    {% if post.subtitle %}
    <h3 class="post-subtitle">
        {{ post.subtitle }}
    </h3>
    {% endif %}
    {{ post.excerpt }}
</div>
<hr>
{% endfor %}